<configuration>
	<connectionStrings>
		<add name="AndroidDataManagementConnection"
			 connectionString="Data Source=.;Initial Catalog=AndroidDataManagement;Integrated Security=True;Encrypt=True;Trust Server Certificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>